<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="https://kit.fontawesome.com/79deda6cc6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/register.css" type="text/css">
    <link rel="stylesheet" href="/css/welcome.css" type="text/css">
    <title>Node.js & Passport Login App</title>
</head>

<body>

    <%- body %>

</body>

</html>