<div class="st-dashboard-nav">

    <% if(user){ %>
        <h4>
            Hello,
            <%=user.stud_name%>
        </h4>
        <% }%>

            <button class="st-dashboard-button"><a href="/student/logout">Logout</a></button>

</div>
<form>
</form>