@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: #d7ecf5; */
    /* fallback for old browsers */
}

.st-dashboard-nav {
    display: flex;
    padding:10px;
    width: 100%;
    /* margin: 20px; */
    background: #22242A !important;

}

.st-dashboard-nav h4{
    color:#fff;
}

.st-dashboard-button {
    border: none;
    color: #000;
    margin: 0 20px;
}

.st-dashboard-button a {
    text-decoration: none !important;
}

.options-section {
    display:grid;
    
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    justify-items: center;
    width: 20%;
    height: 50vh;
    margin: 100px auto;
    /* background: #000; */
}

.options-section button {
    margin: 0 20px;
    width: 210px;
    height: 180px;
    border: none;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.options-section button a {
    text-decoration: none;
    color:#fff;
}

.options-section button a i {
    margin: 0 10px;
}

.approve-btn
{
    width:55px !important;
    font-size:10px;
    border:none;
    background: cornflowerblue;
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.apply-btn{


    width:100px !important;
    font-size:15px;
    border:none;
    background: cornflowerblue;
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin:20px 0;

}

.reject-btn{
    
    width:55px !important;
    font-size:10px;
    border:none;
    background: rgba(226, 72, 72, 0.623);
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


}

/* .scholarship-container{
    display:flex !important;
    flex-direction: column !important;
} */

button {
    background: #9ab3f5;
}

a{
    color:#fff  !important;

}