@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: #d7ecf5; */
    /* fallback for old browsers */
}

.st-dashboard-nav {
    display: flex;
    width: 50%;
    margin: 20px;
}

.st-dashboard-button {
    border: none;
    color: #000;
    margin: 0 20px;
}

.st-dashboard-button a {
    text-decoration: none !important;
}

.options-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    margin: 100px auto;
    /* background: #000; */
}

.options-section button {
    margin: 0 20px;
    width: 210px;
    height: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-section button a {
    text-decoration: none;
}

.options-section button a i {
    margin: 0 10px;
}

.approve-btn
{
    width:55px !important;
    font-size:10px;
    border:none;
    background: cornflowerblue;
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.apply-btn{


    width:100px !important;
    font-size:15px;
    border:none;
    background: cornflowerblue;
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin:20px 0;

}

.reject-btn{
    
    width:55px !important;
    font-size:10px;
    border:none;
    background: rgba(226, 72, 72, 0.623);
    color:#Ffff;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


}

.scholarship-container{
    display:flex !important;
    flex-direction: column !important;
}